*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar
{
    width: 20vw;
    height: 100vh;
}
#title
{
    font-weight: bolder;
    font-size: 2.5vw;
    text-align: center;
    margin: 2vw;
    /* padding-left: 20px; */
}
.sidebar .profileDetails
{
    display: flex;
    justify-content: center;
    
}
.sidebar .profileDetails img
{
    border-radius: 50% ;
    object-fit: cover;
    width: 3.5vw;
    height: 3.5vw;
    margin: 0vw 1vw 0vw 0vw;
    
}
#accountName
{
    font-size: 1.7vw;
}
#post
{
    font-size: 1vw;
}
/* SIDE BAR LINK */
.links
{
    display: grid;
    margin-top:4vw ;
}
.links span{
    display: flex;
    margin: 0.2vw ;
    font-size: 1vw;
}
.links img
{
    border-radius: 50% ;
    object-fit: cover;
    width: 3vw; 
    height: 3vw; 
    margin: 3px 0px 0px 10px  ;
}
.links a{
    text-decoration: none;
    margin:15px ;
    
}
.links a:link{
    color: rgb(171, 169, 204);
    
    
}
.links a:hover{
    color: rgb(16, 59, 77);
    font-weight: 600;
    
}
#logout
{
    margin-top: 20vh ;
}

/* Middle main Dashboard */
.dashboard
{
    width: 60vw;
    height: 100vh;
    background-color: rgb(197, 235, 247);
    overflow: auto;
    
}

#midtitle
{
    font-size: 3vw;
    font-weight: 500;
    margin-left: 2vw;
    margin-top: 3vw;
    color: #399ab8c0;
}

.updates
{
    width: 40vw;
    height: 16vw;
    margin: auto;
    top: 4vw;
    border-radius: 10px;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: row;
    background-color: #f2fafd;
    
}
.updates .uphead
{
    font-size: 1.2vw;
    font-weight: 550;
    margin: 10px;
}
.updates .upcontent
{
    font-size: 0.9vw;
    margin: 10px;
}
.updates button
{
    margin: 10px;
    width: 6vw;
    height: 2vw;
    font-size: 0.9vw;
    font-weight: 600;
    background-color: #3ea7c7;
    border: none;
    border-radius: 5px;
    color: honeydew;
}
.illustrate1
{
    width: 40%;
    
}
.illustrate1 img
{
    width: 10vw;
    height: 14vw;
    position: relative;
    bottom: 50px;
    
}

.activity
{
    width: 50vw;
    height: 10vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 120px ;


}
.acTitle
{
    font-size: 2vw;
    font-weight: 500;
    margin: 20px 0px;
}
.acContainer
{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border-radius: 10px ;
    width: 100%;
    height: 5vw;
}
.acContent
{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.acContent img
{
    width: 3.5vw;
    object-fit: cover;
    height: 3.5vw;
    margin:10px 20px ;
    border-radius: 4px;
}
.highlight-title
{
    font-size: 1vw;
    margin: 10px 0px 0px 0px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.527);
}
.score
{
    font-size: 1.2vw;
    font-weight: 650;
}